.ui-dialog .ui-dialog-titlebar-close {width:22px !important; height: 22px !important;}
body.path-civicrm {background:#fff;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;}
h1.page-title{font-weight:400; font-size: 2em;}
.content-header {padding: 0;}
.crm-summary-display_name {margin-top: 30px;}